<%= form_for(@componenttype) do |f| %>
  <% if @componenttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@componenttype.errors.count, "error") %> prohibited this componenttype from being saved:</h2>

      <ul>
      <% @componenttype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %><br />
    <%= f.number_field :color %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :svg %><br />
    <%= f.text_area :svg %>
  </div>
  <div class="field">
    <%= f.label :Component %><br />
    <%= collection_select(:componenttype, :component_id, Component.find(:all), :id, :name) %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
