<div id="content" xmlns="http://www.w3.org/1999/html">

  <p><%= raw(@componenttype.svg) %></p>

  <p>
    <b>Name: </b>
    <%= @componenttype.name %>
  </p>

  <p>
    <b>Component: </b>
    <%= Component.find(@componenttype.component).name %>
  </p>

  <%if session[:user_id]%>
      <%check=false%>
      <% @usercomponents.each do |usercomponent| %>
          <%if usercomponent.componenttype_id==@componenttype.id%>
              <%check=true%>
              <p><b>You Already Own this Item</b></p>
          <%end%>
      <%end%>
      <%if check==false%>
          <p>
            <b>Price: </b>
            <%= @componenttype.price %>.00
          </p>
          <p><%= link_to 'Buy this Item', :controller => 'shop', :action=>'buy' , :id=>@componenttype %></p>
      <%end%>
  <%else%>
      <p>
        <b>Price: </b>
        <%= @componenttype.price %>.00
      </p>
      <p><%= link_to 'Buy this Item', :controller => 'shop', :action=>'buy' , :id=> @componenttype %></p>
  <%end%>
  <%if session[:user_admin]==1%>
  <%= link_to 'Edit', edit_componenttype_path(@componenttype) %> |
  <%end%>
  <%= link_to 'Go to Shop', shop_path %>
</div>