<div id="content">
  <p>
    <b>Color:</b>
    <%= @componenttype.color %>
  </p>

  <p>
    <b>Name:</b>
    <%= @componenttype.name %>
  </p>

  <p>
    <b>Price:</b>
    <%= @componenttype.price %>
  </p>

  <p>
    <b>Svg:</b>
    <%= raw(@componenttype.svg) %>
  </p>

  <p>
    <b>Component:</b>
    <%= Component.find(@componenttype.component).name %>
  </p>

  <%= link_to 'Edit', edit_componenttype_path(@componenttype) %> |
  <%= link_to 'Back', componenttypes_path %>
</div>