<h2 class='User_Header'><%=@current_user.username%> Profile <h2>

<p>
  <b>Last Login:</b>
  <%= @current_user.last_login %>
</p>

<p>
  <b>Email:</b>
  <%= @current_user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @current_user.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @current_user.birthdate %>
</p>

<p>
  <b>Sex:</b>
  <%= @current_user.sex %>
</p>

<p>
  <b>Credits:</b>
  <%= @current_user.credits %>
</p>

<p>
  <b>Location:</b>
  <%= @current_user.location %>
</p>