<% @page_title = "UserAuth | Edit Profile" -%>
<div id="Edit_Form" class= "User_Form">
  <h1>Edit Profile</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'edit'}) do |f| %>
	<% f.hidden_field :session[user_id] %>
    <p>
      Email:</br> <%= f.text_field :email%>
    </p>

    <p>      
      Password:</br> <%= f.password_field :password%>
    </p>
    <p class="notice"> <%= notice_password%> </p>

    <p>     
      Password Confirmation:</br> <%= f.password_field :password_confirmation%>
    </p>
	
	<p>
      Location:</br> <%= f.text_field :location%>
    </p>
		
    <%= f.submit :EditProfile %>
  <% end %>

  <% if @user.errors.any? %>
	<ul class="EditProfile_Errors">
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>
</div>