<div id="content">


<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Location</th>
    <th>Sex</th>
    <th>Birthdate</th>
  	<th>Credits</th>
  	<th>Status</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, :controller => 'users', :action => 'show', :id => user %></td>
    <td><%= user.name %></td>
    <td><%= user.location %></td>
    <td><%= user.sex %></td>
    <td><%= user.birthdate %></td>
    <td><%= user.credits %></td>
    <td><%if user.admin==1 %>
          Admin
      <%else%>
          User
      <%end%></td>
  </tr>
<% end %>
</table>

  </div>