<div id="content">
  <h2>User search results</h2>
    <%if @users.empty? %>
      <p class="emtpy_results">Unfortunately, no user matches your search. Try harder.</p>
    <%else%>
      <% @users.each do |user| %>
        <div class="user_search">
        <div id="username">
          <%if user.sex.blank? %>
          <%else%>
          <%= image_tag(user.sex + ".png", :title => user.sex) %>
          <%end%>
          <%= link_to user.username, :controller => 'users', :action => 'show', :id => user %>
        </div>
        <span id="name">
          <%if user.name.blank? %>
          <%else%>
            <span>Name:</span><%= user.name %>
          <%end%>
        </span>
        <span id="location">
          <%if user.location.blank? %>
          <%else%>
            <span>From:</span><%= user.location %>
          <%end%>
        </span>
        <span id="birth">
        <%if user.birthdate.blank? %>
        <%else%>
          <span>Birth:</span><%= user.birthdate %>
        <%end%>
        </span>
        <%if session[:user_admin]==1 %>
          <span id="credits">  
              <span>Credits:</span><%= user.credits %>
          </span>
          <span id="status">
            <span>Status:</span>
            <%if user.admin==1 %>
              Admin
            <%else%>
              User
            <%end%>
          </span>
        <% end %>
        </div>
      <%end%>
  <% end %>
</div>