<div id="content">
  <%if @users.empty? %>
  <%else%>
  <h2>User search results</h2>
  <% @users.each do |user| %>
      <div class="user_search">
        <div id="username">
          <%if user.sex.blank? %>
          <%else%>
              <%= image_tag(user.sex + ".png", :title => user.sex) %>
          <%end%>
          <%= link_to user.username, :controller => 'users', :action => 'show', :id => user %>
        </div>
        <span id="name">
          <%if user.name.blank? %>
          <%else%>
            <span>Name:</span><%= user.name %>
          <%end%>
        </span>
        <span id="location">
          <%if user.location.blank? %>
          <%else%>
            <span>From:</span><%= user.location %>
          <%end%>
        </span>
        <span id="birth">
        <%if user.birthdate.blank? %>
          <%else%>
          <span>Birth:</span><%= user.birthdate %>
        <%end%>
        </span>
        <%if session[:user_admin]==1 %>
          <span id="credits">
              <span>Credits:</span><%= user.credits %>
          </span>
          <span id="status">
            <span>Status:</span>
            <%if user.admin==1 %>
              Admin
            <%else%>
              User
            <%end%>
          </span>
        <% end %>
      </div>
  <%end%>

  <% end %>
  <%if @avatars.empty? %>
  <%else%>
  <h2>Avatar search results</h2>
      <div class="avatar_search">
      <% @avatars.each do |avatar| %>
            <div class="svgwindow">
              <svg version="1.1" baseProfile="basic"
                   data-avatar=<%=avatar.id%> xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="128px" height="128px"
              viewBox="0 0 512 512" xml:space="preserve">

              </svg>

              <%= hidden_field_tag('skin_ctype_id', "") %>
              <%= hidden_field_tag('skin_comp_id',"") %>

              <%= hidden_field_tag('hair_ctype_id',"") %>
              <%= hidden_field_tag('hair_comp_id',"") %>

              <%= hidden_field_tag('hair_type_ctype_id',"") %>
              <%= hidden_field_tag('hair_type_comp_id',"") %>

              <%= hidden_field_tag('eye_color_ctype_id',"") %>
              <%= hidden_field_tag('eye_color_comp_id',"") %>

              <%= hidden_field_tag('moustache_ctype_id',"") %>
              <%= hidden_field_tag('moustache_comp_id',"") %>

              <%= hidden_field_tag('nose_ctype_id',"") %>
              <%= hidden_field_tag('nose_comp_id',"") %>

              <%= hidden_field_tag('mouth_ctype_id',"") %>
              <%= hidden_field_tag('mouth_comp_id',"") %>

              <%= hidden_field_tag('shirttype_ctype_id',"") %>
              <%= hidden_field_tag('shirttype_comp_id',"") %>

              <%= hidden_field_tag('shirtcolor_ctype_id',"") %>
              <%= hidden_field_tag('shirtcolor_comp_id',"") %>
              <div id="name">
                <%= link_to avatar.name, :controller => 'avatars', :action => 'show', :id => avatar %>
              </div>
          </div>
  <%end%>
  </div>
  <br/>
  <% end %>

  <%if @components.empty? %>


  <%else%>
  <h2>Component search results</h2>
  <% @components.each do |component| %>
      <div class="user_search">
          <%= component.name %>
          (<%= link_to 'See All the Items of this Component', :controller => 'components', :action => 'show', :id => component %>)
        <% if session[:user_admin]==1 %>
            <tab></tab>
            <%= link_to 'Show', component %>
            |<%= link_to 'Edit', edit_component_path(component) %>
            |<%= link_to 'Destroy', component, confirm: 'Are you sure?', method: :delete %>
        <%end%>
      </div>
      <br />
  <%end%>
      <% if session[:user_admin]==1 %>
      <br />

      <%= link_to 'New Component', new_component_path %>
      <%end %>
  <% end %>

  <%if @componenttypes.empty? %>
  <%else%>
      <h2>Item search results</h2>
      <% @componenttypes.each do |componenttype| %>
          <p>
            <%if componenttype.component_id==1 || componenttype.component_id==5 || componenttype.component_id==6 || componenttype.component_id==7 || componenttype.component_id==8%>
              <div class="svgwindow">
                <svg version="1.1" baseProfile="basic"
                     id="svg3883" inkscape:version="0.48.2 r9819" sodipodi:docname="moustache_blond.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="128px" height="128px"
                     viewBox="0 0 512 512" xml:space="preserve">
                  <sodipodi:namedview  inkscape:window-y="-8" inkscape:current-layer="svg3883" id="namedview5348" inkscape:window-x="54" inkscape:window-height="746" inkscape:window-width="1304" inkscape:pageshadow="2" inkscape:pageopacity="0" inkscape:window-maximized="1" guidetolerance="10" inkscape:cy="263.48919" gridtolerance="10" inkscape:cx="248.84127" inkscape:zoom="0.921875" objecttolerance="10" showgrid="false" borderopacity="1" bordercolor="#666666" pagecolor="#ffffff">
                  </sodipodi:namedview><%= raw(componenttype.svg) %></svg>
              </div>
          <%else%>
              <div class="svgpreview">
                <svg version="1.1" baseProfile="basic"  x="0px" y="0px" width="100px" height="100px"  viewBox="0 0 512 512" xml:space="preserve">
                  <rect ry="90" rx="90" id="svg_1" height="392" width="392" y="60" x="60" stroke-width="19" stroke="#000000" fill="<%= raw(componenttype.svg) %>"/></svg>
              </div>
          <%end%>
          </p>
          <%if session[:user_admin]!=1%>
              <br/>
          <%end%>
          <p><span>Name: <%= componenttype.name %></span></p>
          <p>Component: <%= Component.find(componenttype.component).name %></p>
          <p><%if session[:user_id]%>
                <%check=false%>
                <% @usercomponents.each do |usercomponent| %>
                    <%if usercomponent.componenttype_id==componenttype.id%>
                        <%check=true%>
                        <span>You Already Own this Item</span>
                        <span>|<%= link_to 'Info', componenttype %></span>
                    <%end%>
                <%end%>
                <%if check==false%>
                    <span>Price: <%= componenttype.price %>.00</span>
                    <span>|<%= link_to 'Buy', componenttype %></span>
                <%end%>
            <%else%>
                <span>Price: <%= componenttype.price %>.00</span>
                <span>|<%= link_to 'Buy', componenttype %></span>
            <%end%></p>
          <%if session[:user_admin]==1%>
              <p><span><%= link_to 'Edit', edit_componenttype_path(componenttype) %></span>
                <span>|<%= link_to 'Destroy', componenttype, confirm: 'Are you sure?', method: :delete %></span></p>
          <%end%>
          <br/>
      <%end%>
      <%if session[:user_admin]%>
          <br />
          <span><%= link_to 'New Componenttype', new_componenttype_path %></span>
      <%end%>
  <% end %>
</div>