<%= form_for(@avatarcomponent) do |f| %>
  <% if @avatarcomponent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avatarcomponent.errors.count, "error") %> prohibited this avatarcomponent from being saved:</h2>

      <ul>
      <% @avatarcomponent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :componenttype %><br />
    <%= f.text_field :componenttype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
