<p id="notice"><%= notice %></p>

<p>
  <b>Avatar:</b>
  <%= @avatarcomponent.avatar %>
</p>

<p>
  <b>Componenttype:</b>
  <%= @avatarcomponent.componenttype %>
</p>

<p>
  <b>Component:</b>
  <%= @avatarcomponent.component %>
</p>


<%= link_to 'Edit', edit_avatarcomponent_path(@avatarcomponent) %> |
<%= link_to 'Back', avatarcomponents_path %>
