<p id="notice"><%= notice %></p>

<p>
  <b>Avatar:</b>
  <%= Avatar.find(@avatarcomponent.avatar).name %>
</p>

<p>
  <b>Component:</b>
  <%= Component.find(@avatarcomponent.component).name %>
</p>

<p>
  <b>Type:</b>
  <%= Componenttype.find(@avatarcomponent.componenttype).name %>
</p>



<%= link_to 'Edit', edit_avatarcomponent_path(@avatarcomponent) %> |
<%= link_to 'Back', avatarcomponents_path %>
