<div id="content">
	<h1>Editing avatar</h1>
	<div class="editsvg" >
	<div class="svgwindow">
		<svg version="1.1" baseProfile="basic"
		 data-user=<%=@avatar.user_id%> data-avatar=<%=@avatar.id%> xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="256px" height="256px"
		 viewBox="0 0 512 512" xml:space="preserve"></svg>
	<p></p>
      <%= form_tag({:controller => "avatars", :action => "update"}, :method => "put") do %>

    <div class="field">
      <%= label_tag :name, "Name" %><br />
      <%= text_field_tag :avatar_name, @avatar.name %>
    </div>
	
    <% if @user %>
    <%= hidden_field_tag('user_id', @user.id) %>
    <%else%>
    <%= hidden_field_tag('user_id', session[:user_id]) %>
    <%end%>
    <%= hidden_field_tag('avatar_id', @avatar.id) %>

    <%= hidden_field_tag('skin_ctype_id', "") %>
    <%= hidden_field_tag('skin_comp_id',"") %>

    <%= hidden_field_tag('hair_ctype_id',"") %>
    <%= hidden_field_tag('hair_comp_id',"") %>

    <%= hidden_field_tag('hair_type_ctype_id',"") %>
    <%= hidden_field_tag('hair_type_comp_id',"") %>

    <%= hidden_field_tag('eye_color_ctype_id',"") %>
    <%= hidden_field_tag('eye_color_comp_id',"") %>

    <%= hidden_field_tag('moustache_ctype_id',"") %>
    <%= hidden_field_tag('moustache_comp_id',"") %>

    <%= hidden_field_tag('nose_ctype_id',"") %>
    <%= hidden_field_tag('nose_comp_id',"") %>

    <%= hidden_field_tag('mouth_ctype_id',"") %>
    <%= hidden_field_tag('mouth_comp_id',"") %>

    <%= hidden_field_tag('shirttype_ctype_id',"") %>
    <%= hidden_field_tag('shirttype_comp_id',"") %>

    <%= hidden_field_tag('shirtcolor_ctype_id',"") %>
    <%= hidden_field_tag('shirtcolor_comp_id',"") %>

    <div class="actions">
          <%= submit_tag 'Save Avatar' %>  |    <%= link_to 'Back', @avatar %>
    </div>
  <% end %>
	</div>
	<div class="comp">
		<div class="compnav">
			<!--<p><button onclick="changeSkinColor(-1);"><-</button>cor pele<button onclick="changeSkinColor(1);">-></button></p>
			<p><button onclick="changeHairColor(-1);"><-</button>cor cabelo<button onclick="changeHairColor(1);">-></button></p>
			<p><button onclick="changeHairType(-1);"><-</button>tipo de cabelo<button onclick="changeHairType(1);">-></button></p>
			<p><button onclick="changeEyeColor(-1);"><-</button>cor olhos<button onclick="changeEyeColor(1);">-></button></p>
			<p><button onclick="changeMoustacheType(-1);"><-</button>bigode<button onclick="changeMoustacheType(1);">-></button></p>
			<p><button onclick="changeNoseType(-1);"><-</button>nariz<button onclick="changeNoseType(1);">-></button></p>
			<p><button onclick="changeMouthType(-1);"><-</button>boca<button onclick="changeMouthType(1);">-></button></p>
			<p><button onclick="changeShirtType(-1);"><-</button>tipo shirt<button onclick="changeShirtType(1);">-></button></p>
			<p><button onclick="changeShirtColor(-1);"><-</button>cor shirt<button onclick="changeShirtColor(1);">-></button></p>-->
			
			<a href="#skinColor">Skin Color</a>
			<a href="#hairColor">Hair Color</a>
			<a href="#hairType">Hair Type</a>
			<a href="#eyeColor">Eye Color</a>
			<a href="#moustacheType">Moustache</a>
			<a href="#noseType">Nose</a>
			<a href="#mouthType">Mouth</a>
			<a href="#shirtType">Shirt Type</a>
			<a href="#shirtColor">Shirt Color</a>
			
		</div>
		<div class="component skinColor">
		</div>
		<div class="component hairColor">
		</div>
		<div class="component hairType">
		</div>
		<div class="component eyeColor">
		</div>
		<div class="component moustacheType">
		</div>
		<div class="component noseType">
		</div>
		<div class="component mouthType">
		</div>
		<div class="component shirtType">
		</div>
		<div class="component shirtColor">
		</div>
		
	</div>
	</div>
	      <% if @avatar.errors.any? %>
      <div id="error_explanation">
        <h2></h2>
        <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this avatar from being saved:</h2>

        <ul>
        <% @avatar.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
</div>