<div id="content">
<h1>Listing avatars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <%if session[:user_admin]==1 %>
        <th></th>
        <th></th>
    <%end%>
  </tr>

<% @avatars.each do |avatar| %>
  <tr>
    <td><%= avatar.name %></td>
    <td> <%= User.find(avatar.user).username %></td>
    <td><%= link_to 'Show', avatar %></td>
    <%if session[:user_admin]==1 %>
        <td><%= link_to 'Edit', edit_avatar_path(avatar) %></td>
        <td><%= link_to 'Destroy', avatar, confirm: 'Are you sure?', method: :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Avatar', new_avatar_path %>
</div>
