<div id="content">
<<<<<<< HEAD
<h1>Listing avatars</h1>
=======
  <h1>Listing avatars</h1>
>>>>>>> ccce7570428adf50c5465dc9590f8162609ee6f3

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @avatars.each do |avatar| %>
  <tr>
    <td><%= avatar.name %></td>
    <td> <%= User.find(avatar.user).username %></td>
    <td><%= link_to 'Show', avatar %></td>
    <td><%= link_to 'Edit', edit_avatar_path(avatar) %></td>
    <td><%= link_to 'Destroy', avatar, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Avatar', new_avatar_path %>
</div>
