<div id="content">
	<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Avatar</th>
    <th>Componenttype</th>
    <th>Component</th>
  </tr>

<% @avatarcomponents.each do |avatarcomponent| %>
  <tr>
    <td><%= Avatar.find(avatarcomponent.avatar).name %></td>
    <td><%= Component.find(avatarcomponent.component).name %></td>
    <td><%= Componenttype.find(avatarcomponent.componenttype).name %></td>
  </tr>
<% end %>
</table>


	<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
	<%= link_to 'Back', avatars_path %>

</div>
