<!DOCTYPE html>
<html>
  <head>
    <title>Guess Me Out</title>
    <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://jk.revolvermaps.com/r.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="social">
      <%= link_to image_tag("faceb.png", :class => 'social_img'), "http://www.facebook.com/guessmeoutapp" %>
      <%= link_to image_tag("Google_Play_Store_96.png", :class => 'social_img'), "https://play.google.com/store/apps/details?id=com.milempresas.farmacias&feature=trending-apps#?t=W251bGwsMSwyLDEwNSwiY29tLm1pbGVtcHJlc2FzLmZhcm1hY2lhcyJd" %>
    </div>
    <div class="nav">
      <ul class="nav">
        <%unless session[:user_id]%>
                <li><%= link_to :Signup , :signup, class: "nav_links"%></li>|
                <li><%= link_to :Login , :login, class: "nav_links"%></li>
        <%else%>
              <li>Welcome, <%= session[:user_name] %></li>|
              <li><%= link_to :Logout , :logout, class: "nav_links" %></li>
        <%end%>
      </ul>
    </div>
    <div class="Main_Header">
      <div class="logo">
        <!-- <%= link_to({:action => 'home', :controller => 'home'}) do %>
          <div></div>
        <% end %> -->
        <%= link_to image_tag("logo_horizontal_t2.png", :class => 'logo_image'), {:action => 'home', :controller => 'home'} %>
        <noscript><p><b style="color: red">You need to have Javascript enabled to access the whole website</b></p></noscript>
      </div>

      <div class="tab">

        <%if url_for(params)=="/"%>
          <%= link_to content_tag(:div, "Home", :class => 'tab_selected') , :root, class: "tab_links" %>
        <%else%>
          <%= link_to content_tag(:div, "Home", :class => 'tab_unselected') , :root, class: "tab_links" %>
        <%end%>

        <%unless session[:user_id]%>
        <%else%>

        <%if url_for(params)=="/profile"%>
          <%= link_to content_tag(:div, "Profile", :class => 'tab_selected') , :profile, class: "tab_links" %>
        <%else%>
          <%= link_to content_tag(:div, "Profile", :class => 'tab_unselected') , :profile, class: "tab_links" %>
        <%end%>

        <%if url_for(params).match("/avatars/")%>
				<%if session[:user_avatar]!=-1 %>
                    <%= link_to content_tag(:div, "Avatar", :class => 'tab_selected') , "/avatars/"+session[:user_avatar].to_s, class: "tab_links" %>
                <%else%>
                    <%= link_to content_tag(:div, "Avatar", :class => 'tab_selected') , new_avatar_path, class: "tab_links" %>
                <%end%>
        <%else%>
                <%if session[:user_avatar]!=-1 %>
                    <%= link_to content_tag(:div, "Avatar", :class => 'tab_unselected') , "/avatars/"+session[:user_avatar].to_s, class: "tab_links" %>
                <%else%>
                    <%= link_to content_tag(:div, "Avatar", :class => 'tab_unselected') , new_avatar_path, class: "tab_links" %>
                <%end%>
        <%end%>

        <%end%>

        <%if url_for(params)=="/statistics"%>
          <%= link_to content_tag(:div, "Statistics", :class => 'tab_selected') , :statistics, class: "tab_links" %>
        <%else%>
          <%= link_to content_tag(:div, "Statistics", :class => 'tab_unselected') , :statistics, class: "tab_links" %>
        <%end%>


        <%if url_for(params)=="/help"%>
          <%= link_to content_tag(:div, "Help", :class => 'tab_selected') , :help, class: "tab_links" %>
        <%else%>
          <%= link_to content_tag(:div, "Help", :class => 'tab_unselected') , :help, class: "tab_links" %>
        <%end%>

        <%if url_for(params)=="/shop"%>
            <%= link_to content_tag(:div, "Shop", :class => 'tab_selected') , :shop, class: "tab_links" %>
        <%else%>
            <%= link_to content_tag(:div, "Shop", :class => 'tab_unselected') , :shop, class: "tab_links" %>
        <%end%>

        <div id="search">
          <%= form_tag({:controller => "home", :action => "search"}, :method => "get") do %>
            <%= text_field_tag 'name', nil, :placeholder => 'Search Stuff'%>
            <%= select_tag :searchtype, grouped_options_for_select('Search Type' => ['All', 'Users', 'Avatars', 'Components', 'Items']) %>
            <%= submit_tag '' %>
          <% end %>

        </div>
      </div>


      <% if flash[:color]== "valid" %>
          <div class="notice" id="valid_notice">
              <span><%= flash[:notice]%></span>
          </div>
      <% elsif flash[:color]== "invalid"%>
          <div class="notice" id="invalid_notice">
              <span><%=flash[:notice]%></span>
          </div>
      <%else%>
          <div class="notice" id="normal_notice">
              <span><%=flash[:notice]%></span>
          </div>
      <%end%>
    </div>
    <%= yield %>
    <div id="credits">
      © FEUP 2012
    </div>
  </body>
</html>