<!DOCTYPE html>
<html>
<head>
  <title>Guess Me Out</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="Main_Header">
		<p class="logo"><%= link_to image_tag("who-logo.png", :class => 'logo'), {:action => 'home', :controller => 'home'} %></p>
        <ul class="tab">
                <li><%= link_to :Home , :root, class: "tab_links" %></li>
          <%unless session[:user_id]%>
          <%else%>
                <li><%= link_to :Profile , :profile, class: "tab_links" %></li>
                <li><%= link_to :Avatar , :avatar, class: "tab_links" %></li>
          <%end%>
                <li><%= link_to :Statistics , :statistics, class: "tab_links" %></li>
                <li><%= link_to :Help , :help, class: "tab_links"%></li>
          </ul>
        <ul class="nav">
        <%unless session[:user_id]%>
				<li><%= link_to :Signup , :signup, class: "nav_links"%></li>|
				<li><%= link_to :Login , :login, class: "nav_links"%></li>
		<%else%>
              <li>Welcome, <%= session[:username] %></li>|
              <li><%= link_to :Logout , :logout, class: "nav_links" %></li>
		<%end%>
        </ul>
	</div>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
<%= yield %>

</body>
</html>
