<!DOCTYPE html>
<html>
<head>
  <title>Guess Me Out</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="Main_Header">
		<div class="logo"><%= link_to image_tag("who-logo.png", :class => 'logo'), {:action => 'home', :controller => 'home'} %></div>
		<%unless session[:user_id]%>
			<ul class="nav">
				<li><%= link_to :Signup , signup_path, class: "nav_links"%></li>|
				<li><%= link_to :Login , login_path, class: "nav_links"%></li>	
			</ul>
		<%else%>
			<ul class="nav">
				<li><%= link_to :Profile , :profile, class: "nav_links" %> |</li>
				<li><%= link_to :Logout , :logout, class: "nav_links" %></li>	
			</ul>
		<%end%>
		<div class="titleheader">Welcome to Guess Me Out</div>
	</div>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
		<!-- nav tag -->
		<div id="navright">
				<div class="help">
				  <div class="navtitlehelp">Help</div>
				  <ul class="helpcontent">
				  <li><%= link_to :"How To Play" , howtoplay_path %></li>
				  </ul>
				</div>
				<div class="avatar">
				  <div class="navtitleavatar">Avatar</div>
				  <ul class="avatarcontent">
				  <li>Create Avatar</li>
				  </ul>
				</div>
		</div> <!-- nav content -->
<%= yield %>

</body>
</html>
