<!DOCTYPE html>
<html>
    <head>
      <title>Guess Me Out</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>


    <body>


        <div class="Main_Header">
            <p class="logo"><%= link_to image_tag("who-logo.png", :class => 'logo'), {:action => 'home', :controller => 'home'} %></p>
            <div class="tab">

              <%if url_for(params)=="/"%>
                    <%= link_to content_tag(:div, "Home", :class => 'tabhome') , :root, class: "tab_links" %>
              <%else%>
                    <%= link_to content_tag(:span, "Home", :class => 'tabhome') , :root, class: "tab_links" %>
              <%end%>


              <%unless session[:user_id]%>
              <%else%>

                  <%if url_for(params)=="/profile"%>
                      <%= link_to content_tag(:div, "Profile", :class => 'tabprofile') , :profile, class: "tab_links" %>
                  <%else%>
                      <%= link_to content_tag(:span, "Profile", :class => 'tabprofile') , :profile, class: "tab_links" %>
                  <%end%>

                  <%if url_for(params)=="/avatars/new"%>
                      <%= link_to content_tag(:div, "Avatar", :class => 'tabavatar') , new_avatar_path, class: "tab_links" %>
                  <%else%>
                      <%= link_to content_tag(:span, "Avatar", :class => 'tabavatar') , new_avatar_path, class: "tab_links" %>
                  <%end%>

              <%end%>

              <%if url_for(params)=="/statistics"%>
                  <%= link_to content_tag(:div, "Statistics", :class => 'tabstatistics') , :statistics, class: "tab_links" %>
              <%else%>
                  <%= link_to content_tag(:span, "Statistics", :class => 'tabstatistics') , :statistics, class: "tab_links" %>
              <%end%>


              <%if url_for(params)=="/help"%>
                  <%= link_to content_tag(:div, "Help", :class => 'tabhelp') , :help, class: "tab_links" %>
              <%else%>
                  <%= link_to content_tag(:span, "Help", :class => 'tabhelp') , :help, class: "tab_links" %>
              <%end%>
              </div>
            <ul class="nav">
            <%unless session[:user_id]%>
                    <li><%= link_to :Signup , :signup, class: "nav_links"%></li>|
                    <li><%= link_to :Login , :login, class: "nav_links"%></li>
            <%else%>
                  <li>Welcome, <%= session[:user_name] %></li>|
                  <li><%= link_to :Logout , :logout, class: "nav_links" %></li>
            <%end%>
            </ul>
        </div>
        <% if flash[:color]== "valid" %>
            <div class="valid_notice">
                <p><%= flash[:notice]%></p>
            </div>
        <% elsif flash[:color]== "invalid"%>
            <div class="invalid_notice">
                <p><%=flash[:notice]%></p>
            </div>
        <%else%>
            <div class="notice">
                <p><%=flash[:notice]%></p>
            </div>
        <%end%>
    <%= yield %>

    </body>
</html>